@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@500&family=Dancing+Script:wght@500;700&family=Gilda+Display&family=Luckiest+Guy&family=Oswald:wght@700&family=Poppins:ital,wght@0,400;1,500&family=Prompt:wght@700&family=Roboto:ital,wght@1,300;1,400&family=Solitreo&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
.main_container{
    height: 100vh;
    background-color: #571457;
    display: flex;
    align-items: center;
    justify-content: center;
}
html{
    font-size: 62.5%;
}
.container{
  
    width: 28vw;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
   padding: 1rem 0rem 1.5rem 0rem;
    background-color: white;
  
}
input,button{
    width: 25vw;
    height: 5vh;
    
}
input{
    border: .2rem solid rgb(102, 27, 102);
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: .5rem;
    outline: none;
}
input:focus{
    border: .2rem solid rgb(102, 27, 102);
}
button{
    background-color: #681c68;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
    margin-top: 1rem;
}
h1{
    font-size: 3rem;
  
}
h2{
    font-size:1.5rem;
  
}
.footerdiv{

height: 0vh;
width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 40%;
    height: 90%;
}

@media screen and (max-width:1050px){
    html{
        font-size: 55%;
    }
}
@media screen and (max-width:958px){
    .container{
  
        width: 35vw;
    
        
      
    }
    input{
        font-size: 2rem;
    }
}
@media screen and (max-width:958px){
    html{
        font-size: 50%;
    }
    .container{
  
        width: 35vw;
    
        
      
    }
    input,button{
        width: 30vw;
        height: 5vh;
        
    }
    input{
        font-size: 2rem;
    }
}
@media screen and (max-width:750px){
    html{
        font-size: 45%;
    }
    .container{
  
        width: 40vw;
    
        
      
    }
    input,button{
        width: 35vw;
        height: 5vh;
        
    }
    input{
        font-size: 2rem;
    }
}

@media screen and (max-width:538px){
    html{
        font-size: 45%;
    }
    .container{
  
        width:70vw;
        height: 70vh;
        background-color: #e992e9;
    
        
      
    }
    input{
        font-size: 2rem;
    }
    input,button{
        width: 50vw;
        height: 6vh;
        
    }
  .footerdiv{
    background-color: white;
  }
}